@model IEnumerable<Praktyki.Models.Subject>

@{ ViewData["Title"] = "Przedmioty"; }

<h1 class="my-4">Przedmioty</h1>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="far fa-edit"></i> Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Usuń</a>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3">
        <b>Brak dodanych przedmiotów.</b>
    </div>
}

<div>
    <a asp-action="Create" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Dodaj przedmiot</a>
</div>
